.formContainer {
  display: flex;
}

.commentInput {
  resize: none;
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif;
  width: 20rem;
  border-right: none;
  border-top-left-radius: 1.6rem;
  border-bottom-left-radius: 1.6rem;
  padding: .8rem;
}

.postbtn {
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border: 1px solid black;
  border-top-right-radius: 1.6rem;
  border-bottom-right-radius: 1.6rem;
}

.postbtn:hover {
  cursor: pointer;
  background-color: #E60023;
  color: white;
}
