.container {
  position: absolute;
  background-color: rgb(246, 242, 242);
  height: 6rem;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
}

.devIcons > i {
  font-size: 4.5rem;
}

.devIcons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
