/*
--- 01 TYPOGRAPHY SYSTEM
- FONT SIZE SYSTEM
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Defualt: 400
medium: 500
semi-bold: 600
Bold: 700

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-Border Radius (px)

Default: 24px

*/


html {
  /* Convert 1rem to 10px */
  font-size: 62.5%;
}
