.nav_left {
  color: #CC0000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  height: 6.5rem;
  top: 0;
  right: 0;
  left: 0;
}

.nav_right {
  display: flex;
  width: 36rem;
  height: 5.6rem;
  justify-content: flex-end;
  align-self: center;
  align-items: center;
  padding: 0 2rem 0 2rem;
  font-size: 1.2rem;
}

.profile_links {
  display:flex;
  margin-right: 2.4rem;
}

.github {
  width: 6rem;
  display: flex;
  justify-content: flex-end;
}

.linkedin {
  width: 6rem;
  display: flex;
  justify-content: flex-end;
}

.original {
  width: 6rem;
  display: flex;
  justify-content: flex-end;
}

.login {
  color: white;
  background-color: #e60023;
  border-radius: 2.2rem;
  padding: .8rem;
}

.signup {
  background-color: #EFEFEF;
  border-radius: 2.2rem;
  padding: .8rem;
}

.logo {
  height: 3.2rem;
  width: 3.2rem;
}

.name {
  width: 8.3rem;
  font-size: 1.5em;
}

.explore {
  display: flex;
  align-items: center;
  width: 18rem;
  height: 4.8rem;
  padding-left: .7rem;
}


.logo_in {
  height: 3.2rem;
  width: 3.2rem;
}

.logo_in:hover {
  cursor: pointer;
}

.nav_left_in {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.pynTab {
  padding: 1rem;
  border-radius: 2.2rem;
}

.boardTab {
  padding: 1rem;
  border-radius: 2.2rem;
}

.userTab{
  padding: 1rem;
  border-radius: 2.2rem;
}

.pynTab:hover {
  cursor: pointer;
}

.boardTab:hover {
  cursor: pointer;
}

.userTab:hover {
  cursor: pointer;
}
